{% extends 'listagem/base.html' %}

{% block content %}
    <div class="container">
      <div class="row">
          {% for item in object_list %}
        <div class="col-sm">
            <a href="https://www.youtube.com/watch?v=H9ebP76B4l4">
            <img src="https://i1.ytimg.com/vi/H9ebP76B4l4/hqdefault.jpg" alt="{{item.nome}}" width="200" height="200" class="img-thumbnail">
            <p>MURILO COUTO - LULA ESTÁ LIVRE</p>
            </a>
        </div>
          {% endfor %}
      </div>
    </div>
{% endblock %}