{% extends 'listagem/base.html' %}

{% block content %}
    <div class="container">
      <div class="row">
        {% for item in url %}
          <div class="col-sm">
            {% with index=forloop.counter0 %}
              <a href="{{url.index}}">
              <img src="{{miniatura.index}}" alt="{{nome.index}}" width="200" height="200" class="img-thumbnail">
              <p>{{nome.index}}</p>
              </a>
            {% endwith %}
          </div>
          {% endfor %}
      </div>
    </div>
{% endblock %}
